body {
  margin: 0;
  font-family: Avenir, Helvetica, sans-serif;
}

nav {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  max-width: 1300px;
  margin: 0 auto;
  padding-left: 12px;
  padding-right: 12px;
}

nav ul {
  list-style-type: none;
  background-color: #fffefc;
  margin: 0;
  padding: 0;
  height: 80px;
  /* display: inline-block; */
}

nav ul li {
  float: left;
}

nav ul li a {
  text-decoration: none;
  line-height: 80px;
  padding: 0 12px;
  font-weight: 500;
  color: #37352F;
}

ul.nav-right {
  float: right;
}

.nav-logo {
  display: inline-block;
  background-image: url('./yesion.png');
  /* position: relative; */
  width: 32px;
  height: 40px;
  /* top: 0; */
  /* left: 0; */
  vertical-align: middle;
  background-size: cover;
}

.separator {
  float: left;
  border-right: 1px solid rgb(221, 221, 221);
  height: 14px;
  margin-top: 33px;
  margin-left: 10px;
  margin-right: 10px;
}

.fa-sm {
  font-size: 0.75em;
}
